In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

print("Libraries imported. Ready to go")

Libraries imported. Ready to go

In [3]:
#five example receipts (transactions)
transaction=[
    ['Milk','Bread'],
    ['Milk','Diaper','Beer','Eggs'],
    ['Bread','Butter'],
    ['Milk','Bread','Diaper','Beer'],
    ['Bread','Butter','Diaper','Beer']
]

print(f'WE have {len(transaction)} transactions.')
for i, t in enumerate(transaction,1):
    print(f'Transaction {i}:{t}')

WE have 5 transactions.
Transaction 1:['Milk', 'Bread']
Transaction 2:['Milk', 'Diaper', 'Beer', 'Eggs']
Transaction 3:['Bread', 'Butter']
Transaction 4:['Milk', 'Bread', 'Diaper', 'Beer']
Transaction 5:['Bread', 'Butter', 'Diaper', 'Beer']

In [ ]:
#One hot encode the data

#Transfor the list of lists into a 0/1 matrix
te=TransactionEncoder()
te_matrix=te.fit(transaction).transform(transaction)

#Turn the matrix into a DataFrame where columns are product names
df=pd.DataFrame(te_matrix,columns=te.columns_)
df.head()

TransactionEncoder()

    Beer  Bread  Butter  Diaper   Eggs   Milk
0  False   True   False   False  False   True
1   True  False   False    True   True   True
2  False   True    True   False  False  False
3   True   True   False    True  False   True
4   True   True    True    True  False  False

In [10]:
frequent_itemsets=apriori(df,min_support=0.5,use_colnames=True)
frequent_itemsets

   support        itemsets
0      0.6          (Beer)
1      0.8         (Bread)
2      0.6        (Diaper)
3      0.6          (Milk)
4      0.6  (Diaper, Beer)

In [16]:
rules=association_rules(frequent_itemsets,metric='confidence',min_threshold=0.7)

#Sort rules by lift (Stronger relationship first)
rules_sorted=rules.sort_values(by='lift',ascending=False).reset_index(drop=True)
rules_sorted

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Diaper),(Beer),0.6,0.6,0.6,1.0,1.666667,1.0,0.24,inf,1.0,1.0,1.0,1.0
1,(Beer),(Diaper),0.6,0.6,0.6,1.0,1.666667,1.0,0.24,inf,1.0,1.0,1.0,1.0