In [ ]:
import numpy as np

data=np.array([1,2,3,2,2,1,2,3,2,45])

mean=data.mean()
std=data.std()

z_score=(data-mean)/std

print('Data ',data)
print('Z score ',np.round(z_score,3))

outliers=data[np.abs(z_score)>=2.9]     #absoloute values
print('\n Outliers (|Z|>= 3)',outliers)

Data  [ 1  2  3  2  2  1  2  3  2 45]
Z score  [-0.41  -0.333 -0.256 -0.333 -0.333 -0.41  -0.333 -0.256 -0.333  2.996]

 Outliers (|Z|>= 3) [45]

In [17]:
data=np.array([-7,1,2,3,4,2,1,2,3,2,10])

Q1=np.percentile(data,25)
Q3=np.percentile(data,75)
IQR=Q3-Q1   #interquartile range

lower=Q1-1.5*IQR
upper=Q3+1.5*IQR

outliers=data[(data<lower) | (data>upper)]
print(outliers)

print(f'first quartile {Q1}, third quartile {Q3}, IQR {IQR}')
print(f'Lower bound={lower}, Upper bound={upper}')
print('Outliers by IQR(Interquartile Range) method',outliers)

[-7 10]
first quartile 1.5, third quartile 3.0, IQR 1.5
Lower bound=-0.75, Upper bound=5.25
Outliers by IQR(Interquartile Range) method [-7 10]

In [19]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [20]:
df=pd.read_csv('creditcard.csv')

In [21]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [22]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [27]:
df['Class'].value_counts(normalize=True)

Class
0    0.998273
1    0.001727
Name: proportion, dtype: float64

In [28]:
df.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [29]:
df.drop(columns='Time',axis=1,inplace=True)

In [30]:
df.head(2)

         V1        V2        V3        V4  ...       V27       V28  Amount  Class
0 -1.359807 -0.072781  2.536347  1.378155  ...  0.133558 -0.021053  149.62      0
1  1.191857  0.266151  0.166480  0.448154  ... -0.008983  0.014724    2.69      0

[2 rows x 30 columns]

In [32]:
df['Amount']=StandardScaler().fit_transform(df[['Amount']])

In [33]:
df.sample(2)

              V1        V2        V3  ...       V28    Amount  Class
139231 -2.411781  0.899072  1.205213  ... -0.164312 -0.205300      0
58004   1.265650 -0.033962  0.339746  ...  0.001751 -0.349231      0

[2 rows x 30 columns]

In [ ]:
#Isolation forest

from sklearn.ensemble import IsolationForest
#call
iso_forest=IsolationForest(contamination=0.0017,random_state=42)

In [39]:
X=df.drop(columns='Class',axis=1)
y=df['Class']

In [40]:
df['anomaly']=iso_forest.fit_predict(X)

In [44]:
df.sample(5)

              V1        V2        V3  ...    Amount  Class  anomaly
96740   1.127670  0.218605  0.276857  ... -0.349271      0        1
250036  2.076595 -0.234088 -1.929690  ... -0.289300      0        1
139228 -0.814337  0.316373  0.962254  ... -0.349231      0        1
40978   1.090887  0.054321  0.390538  ... -0.349231      0        1
136862  0.261376 -0.308606  1.476005  ... -0.333239      0        1

[5 rows x 31 columns]

In [ ]:
df['anomaly'].value_counts()
#Class== 0=no fraud , 1=fraud
#anomaly== 1=no fraud, -1=fraud

anomaly
 1    284322
-1       485
Name: count, dtype: int64

In [46]:
df['anomaly']=df['anomaly'].map({1:0,-1:1})     #dictinary

In [47]:
df.head()

         V1        V2        V3        V4  ...       V28    Amount  Class  anomaly
0 -1.359807 -0.072781  2.536347  1.378155  ... -0.021053  0.244964      0        0
1  1.191857  0.266151  0.166480  0.448154  ...  0.014724 -0.342475      0        0
2 -1.358354 -1.340163  1.773209  0.379780  ... -0.059752  1.160686      0        0
3 -0.966272 -0.185226  1.792993 -0.863291  ...  0.061458  0.140534      0        0
4 -1.158233  0.877737  1.548718  0.403034  ...  0.215153 -0.073403      0        0

[5 rows x 31 columns]

In [48]:
from sklearn.metrics import classification_report

print(classification_report(df['Class'],df['anomaly']))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    284315
           1       0.29      0.28      0.28       492

    accuracy                           1.00    284807
   macro avg       0.64      0.64      0.64    284807
weighted avg       1.00      1.00      1.00    284807

In [49]:
#One class SVM
from sklearn.svm import OneClassSVM
oc_svm=OneClassSVM(kernel='rbf',gamma='auto',nu=0.002)

In [51]:
X1=df.drop(['Class','anomaly'],axis=1)

In [52]:
df['anomaly_svm']=oc_svm.fit_predict(X1)

In [53]:
df['anomaly_svm']=df['anomaly_svm'].map({1:0,-1:1})

In [56]:
print(classification_report(df['Class'],df['anomaly_svm']))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    284315
           1       0.10      0.28      0.15       492

    accuracy                           0.99    284807
   macro avg       0.55      0.64      0.57    284807
weighted avg       1.00      0.99      1.00    284807

In [ ]:
#data loading 
#data preprocessing
#Change categorical columns to numeric columns using label encoder
#Create new columns where normal is 0 and anomaly is 1
#Split the data into X and y
#Train/Test split